label {
    text-align: left;
}
.EditPage-buttons-divs{
    /*height: 100%;*/
    /*width:100%;*/

}

.red {
    background: rgba(255, 0, 0, 0.56);
}
.fields {
    margin:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui form{
    padding:1rem;
}
.header {
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top:1rem;
}